/* You can add global styles to this file, and also import other style files */
:root {
    --headingFontSize: 2rem;
    --linkFontSize: 1rem;
    --themeBackgroundColor: #7b435b;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--themeBackgroundColor);}


