.search-container {
  text-align: center;
  margin: 0 auto;
}

mat-form-field {
margin: 10px;
}

.search-container button {
  background-color: #70ae6e;
  color: white;
}

#result-msg {
  text-align: center;
}

#book-grid {
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  overflow: hidden;
}

#book-card {
  height: 100px;
  width: 50px;
}

#book-card img {
  width: 50px;
  height: 75px;
  object-fit: contain;
}
