nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem 0 .5rem;
}

mat-divider {
    height: 2rem;
    background-color: #a7a7a7;
}

button {
    font-size: var(--linkFontSize);
    text-decoration: none;
    margin: .75rem .5rem;
    padding: 4px;
    color: #a7a8a7 !important;
}