.search-container {
  text-align: center;
  margin: .75rem auto 0;
}

mat-form-field {
  margin: 10px;
}

.search-container button {
  background-color: #70ae6e;
  color: white;
}

.result-msg {
  text-align: center;
  margin: auto;
  width: 100%;
}

#book-grid {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: inherit;
  overflow: hidden;
}

#book-card {
  height: 25rem;
  width: 13rem;
  margin: 5px;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

#book-card img {
  width: auto;
  height: 200px;
  object-fit: contain;
}

mat-card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

mat-card-content {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

mat-card-content * {
  padding: 1px;
}

mat-card-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
