@mixin respond-to($media) {
    @if $media == 'mobile' {
        @media (max-width: 375px){
            @content;
        }
    } @else if $media == 'tablet' {
        @media (max-width: 768px) {
            @content;
        }
    } @else if $media == 'large-tablet' {
        @media (max-width: 1280px) {
            @content;
        }
    }
}

:root {
  --headingFontSize: 2.125rem;
  --linkFontSize: 0.9rem;
  --themeBackgroundColor: #7b435b;
  --themeAccentColor: #70ae6e;
  --themeSecondaryColor: #031927;
  --themeBackgroundGrey: #f2f2f2;
  --themeTextGrey: #a7a8a7;
}

html {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--themeBackgroundColor);
}

.primary-container {
  background-color: white;
  margin: 10% auto;
  padding: 0 0 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 2.5px 2.5px 4px 0.5px #031927;
  min-height: 40%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond-to('large-tablet') {
    width: 70%;
    height: auto;
    margin: 5rem auto;
  }

  @include respond-to('tablet') {
    width: 80%;
    height: auto;
    margin: 3rem auto;
  }

  @include respond-to('mobile') {
    width: 90%;
    height: auto;
    margin: 1rem auto;
  }
}
