<div class="primary-container">
  <h1><span id="title-span">Guest</span> Library</h1>
  <app-site-nav></app-site-nav>
  <p>Select a title to read to its synopsis.</p>
  <div id="list-grid">
    @if(myPaginatedBooks.length === 0){
    <div class="result-msg">
      <p>No books in your list yet!</p>
    </div>
    } @for(myPaginatedBook of myPaginatedBooks; track myPaginatedBook){
    <mat-card id="list-card">
      <mat-card-header>
        <div mat-card-avatar>
          <a [href]="myPaginatedBook.linkToMore" target="_blank"
            ><img
              [src]="myPaginatedBook.coverUrl || 'assets/default-cover.png'"
              alt="Book Cover"
          /></a>
        </div>
      </mat-card-header>
      <mat-card-content
        ><mat-card-title>{{ myPaginatedBook.title }}</mat-card-title>
        <mat-card-subtitle>{{ myPaginatedBook.author }}</mat-card-subtitle>
        <p>Published:{{ myPaginatedBook.yearPublished }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="removeBook(myPaginatedBook.title)">
          Remove from List
        </button>
      </mat-card-actions>
    </mat-card>
    }
  </div>
  @if(myBooks){
  <mat-paginator
    [length]="myBooks.length"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
  }
  <a href="/home">Back to search</a>
</div>
